<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Comment Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this page -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/nav.css" rel="stylesheet">
  <link href="assets/css/dashboard.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div>
          <h1>Comments</h1>
          <p><span class="search-instructions">Search below for the party you'd like to leave a comment for.</span></p>
        </div>
      </div>

      <div class="col-12 col-lg-8 col-md-8">

      </div>
    </div>

    <div class="row">
      <div id="search-for-comment-div" class="col s12">

        <div class="row search-row">
          <div class="col s12">
            <h4>Search Users</h4>
            <input type="text" class="form-control" id="search-for-comment" placeholder="Search Users" aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary" id="comment-search-submit">Submit</button>
          </div>
        </div>

      </div>
      <div class="col s12">
        <div>
          <!-- <p>Search Results</p> -->
          <div id="query-display"></div>
        </div>
      </div>
    </div>
  </div>



  </div>


</body>

</html>