#comments-box {
  /* height: 400px; */
  border: 1px solid black;
}

#map-box {
  /* height: 400px; */
  border: 1px solid black;

}

#map {
  border: 1px solid #ee6e73;
  height: 500px;
  width: 99%;
}

.toasts {
  color: #ee6e73;
}

.card {
  border: 1px solid #ee6e73;

}

.card-title {
  color: red !important;

}

.comment-input {
      box-sizing:border-box;
}

.card-img {
  height: 50% !important;
}
